@import url(//db.onlinewebfonts.com/c/8eea7efc212b74ac89dcf5cd3d0e0572?family=HandelGotDBol);
@font-face {
	font-family: "HandelGotDBol";
	src: url("//db.onlinewebfonts.com/t/8eea7efc212b74ac89dcf5cd3d0e0572.eot");
	src: url("//db.onlinewebfonts.com/t/8eea7efc212b74ac89dcf5cd3d0e0572.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8eea7efc212b74ac89dcf5cd3d0e0572.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8eea7efc212b74ac89dcf5cd3d0e0572.woff") format("woff"), url("//db.onlinewebfonts.com/t/8eea7efc212b74ac89dcf5cd3d0e0572.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8eea7efc212b74ac89dcf5cd3d0e0572.svg#HandelGotDBol") format("svg");
	font-weight: normal; 
	font-style: normal;
}

.jumbotron > h1, .navbar-brand {
	font-family: 'HandelGotDBol';
}
.jumbotron > h1:first-letter, .navbar-brand:first-letter {
	color: #4f8aff;
}
.avatar {
	height: 1rem;
	width: 1rem;
}
	
