/* @import url(//db.onlinewebfonts.com/c/8eea7efc212b74ac89dcf5cd3d0e0572?family=HandelGotDBol); */
@font-face {font-family: "HandelGotDBol";
    src: url("fonts/8eea7efc212b74ac89dcf5cd3d0e0572.eot"); /* IE9*/
    src: url("fonts/8eea7efc212b74ac89dcf5cd3d0e0572.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/8eea7efc212b74ac89dcf5cd3d0e0572.woff2") format("woff2"), /* chrome firefox */
    url("fonts/8eea7efc212b74ac89dcf5cd3d0e0572.woff") format("woff"), /* chrome firefox */
    url("fonts/8eea7efc212b74ac89dcf5cd3d0e0572.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("fonts/8eea7efc212b74ac89dcf5cd3d0e0572.svg#HandelGotDBol") format("svg"); /* iOS 4.1- */
	font-weight: normal; 
	font-style: normal;
}

.jumbotron > h1, .navbar-brand {
	font-family: 'HandelGotDBol';
}
.jumbotron > h1:first-letter, .navbar-brand:first-letter {
	color: #4f8aff;
}
.avatar {
	height: 1rem;
	width: 1rem;
}

.pagination button {
  margin: 5px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: var(--primary-hover-color);
}

#records-list li {
  display: none; /* Hide all items by default */
}

#main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#ssl-seal img {
    cursor: pointer;
    width: 211px;
    height: 64px;
}
