<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class='container'>
			<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'>
				<span class='navbar-toggler-icon'></span>
			</button>
			<a class='navbar-brand' href='{{ site.baseurl }}/'>mRemoteNG</a>
			<div class='collapse navbar-collapse' id='navbar-collapse'>
				<ul class='navbar-nav mr-auto'>
					<li class='nav-item'>
						<a class='nav-link{% if page.url == "/" %} active{% endif %}' href='{{ site.baseurl }}/'>Home</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link{% if page.url contains "/posts/" %} active{% endif %}' href='{{ site.baseurl }}/posts'>Posts</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link' href='https://mremoteng.readthedocs.io/'>Documentation</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link{% if page.url == "/download" %} active{% endif %}' href='{{ site.baseurl }}/download'>Download</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link{% if page.url == "/contribute" %} active{% endif %}' href='{{ site.baseurl }}/contribute'>Contribute</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link{% if page.url == "/contact" %} active{% endif %}' href='{{ site.baseurl }}/contact'>Contact</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link' href='{{ site.github_alt.repository_url }}'>GitHub</a>
					</li>
				</ul>
			</div>
			<div class="dropdown language">
				<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="flag-icon flag-icon-us"></span> English
				</button>
				<div class="dropdown-menu dropdown-menu-left text-left language width70">
					<a class="dropdown-item" href="#en"><span class="flag-icon flag-icon-us"> </span> English</a>
					<a class="dropdown-item" href="#ru"><span class="flag-icon flag-icon-ru"> </span> Russian</a>
				</div>
			</div>
		</div>
	</nav>
</header>
