<!doctype html>
<html lang='en' prefix='og: http://ogp.me/ns#' class='h-100'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
	<meta name='description' content='{{ site.description }}'>
	<meta name='url' content='{{ site.url }}{{ site.baseurl }}{{ page.url }}'>

	{% seo %}

<link href="https://db.onlinewebfonts.com/c/8eea7efc212b74ac89dcf5cd3d0e0572?family=HandelGotDBol" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
	{% for file in site.static_files %}
	{% if file.path contains '/favicon/' %}
	{%- assign name = file.path | remove: '/favicon/' | remove: file.extname -%}
	<link rel='icon' href='{{ site.url }}{{ site.baseurl }}{{ file.path }}' sizes='{{ name }}x{{ name }}' type='image/png'>
	{%- endif -%}
	{%- endfor -%}
	{% feed_meta %}

	<base href='{{ site.url }}{{ site.baseurl }}'>
	{% include javascript.html %}
</head>
