<div class='jumbotron text-center py-1 py-md-3'>
	<h1>mRemoteNG</h1>
	<p class='lead'>Multi-Remote Next Generation Connection Manager</p>
	<ul class='list-inline'>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/github/stars/mRemoteNG/mRemoteNG?label=Star&style=social'></object>
		</li>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/twitter/follow/mRemoteNG?label=Follow&style=social'></object>
		</li>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/reddit/subreddit-subscribers/mRemoteNG?style=social'></object>
		</li>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/matrix/mremoteng:matrix.org?label=Join%20to%20chat%20about%20mRemoteNG&logo=element&style=social&link=https://matrix.to/#/#mremoteng:matrix.org'></object>
		</li>
	</ul>
</div>
