<div class='jumbotron text-center py-1 py-md-3'>
	<h1 class='display-3'>mRemoteNG</h1>
	<p class='lead'>Multi-Remote Next Generation</p>
	<ul class='list-inline'>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/github/stars/mRemoteNG/mRemoteNG?label=Star&style=social'></object>
		</li>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/twitter/follow/mRemoteNG?label=Follow&style=social'></object>
		</li>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/reddit/subreddit-subscribers/mRemoteNG?style=social'></object>
		</li>
		<li class='list-inline-item'>
			<object data='https://img.shields.io/gitter/room/mRemoteNG/PublicChat?style=social&label=Join%20the%20Chat&logo=Gitter&link=https://gitter.im/mRemoteNG/PublicChat&link=https://gitter.im/mRemoteNG/PublicChat'></object>
		</li>
	</ul>
</div>
