<div class='jumbotron text-center py-1 py-md-3'>
	<h1 class='display-3'>mRemoteNG</h1>
	<p class='lead'>Multi-Remote Next Generation</p>
	<ul class='list-inline'>
		<li class='list-inline-item'>
			<a class='github-button' href='{{ site.github_alt.repository_url }}' data-count-href='{{ site.github_alt.repository_url }}/stargazers' data-show-count="true" aria-label='Star {{ site.github_alt.repository_nwo }} on GitHub'>Star</a>
		</li>
		<li class='list-inline-item'>
			<a href='https://twitter.com/{{ site.twitter.username }}' class='twitter-follow-button' data-show-count='true' data-show-screen-name='false'>Follow @{{ site.twitter.username }}</a>
		</li>
	</ul>
</div>
